.navbar-inverse {
  background-image:none;
  background-repeat:repeat-x;
  border-color:transparent;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color:#93b748;
}

.navbar-inverse .navbar-nav > li > a {
  color:#ffffff;
  /*background-color:#012063;*/
  background-color:transparent;
  margin-right:5px;
}

.left-tab {
  border-top-left-radius:19px;
}

.right-tab {
  border-top-right-radius:15px;
}

.bg {
    background-image: url("../img/soccer_background.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
